<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>留学奨学金情報</title>
</head>
<body>
    <h1>留学奨学金情報検索</h1>
    <form method="POST">
        学部: <input type="text" name="w"><br>
        留学の目的: <input type="text" name="x"><br>
        留学予定の国: <input type="text" name="y"><br>
        期間: <input type="text" name="z"><br>
        奨学金の種類: <input type="text" name="s"><br>
        併給の有無: <input type="text" name="a"><br>
        <button type="submit">送信</button>
    </form>
</body>
</html>

